<h5>Borough Data</h5>

  <%= render 'shared/nav_boro' %>


    <div>
      <div class="col-md-12 offset-md-3 table">
        <div>
          <table class="table table-hover display" id="table_id">
            <thead class="tab-content" id="v-pills-tabContent">
              <tr>
                <th scope="col" class="table-h1">
                  Borough Name
                </th>
                <th scope="col" class="table-h2">
                  Native
                </th>
                <th scope="col" class="table-h2">
                  Foreign born
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Manhattan</td>
                <td class="tbl"><%= @pums.mn.native.count %></td>
                <td class="tbl"><%= @pums.mn.foreign.count %></td>
              </tr>
              <tr>
                <td>Bronx</td>
                <td class="tbl"><%= @pums.bx.native.count %></td>
                <td class="tbl"><%= @pums.bx.foreign.count %></td>            
              </tr>
              <tr>
                <td>Brooklyn</td>
                <td class="tbl"><%= @pums.bk.native.count %></td>
                <td class="tbl"><%= @pums.bk.foreign.count %></td>            
              </tr>
              <tr>
                <td>Queens</td>
                <td class="tbl"><%= @pums.qn.native.count %></td>
                <td class="tbl"><%= @pums.qn.foreign.count %></td>              
              </tr>
              <tr>
                <td>Staten Island</td>
                <td class="tbl"><%= @pums.si.native.count %></td>
                <td class="tbl"><%= @pums.si.foreign.count %></td>     
              </tr>
              <tr>
                <td>Total: <%= @pums.count(:nativity) %></td>
                <td class="tbl"><%= @total_native %>%</td>
                <td class="tbl"><%= @total_foreign %>%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>