<h5>Borough Data</h5>

  <%= render 'shared/nav_boro' %>

    <div id="content">
      <nav class="navbar navbar-expand-lg toggle-div">
        <div class="container-fluid col-md-2 offset-md-8">
          <button type="button" id="sidebarCollapse" class="btn btn-info toggle">
            <i class="fas fa-align-left"></i>
            <span>Toggle Bar</span>
          </button>
        </div>
      </nav>
    </div>

    <div>
      <div class="col-md-12 offset-md-8 table media">
        <div class="media-body">
          <table class="table table-hover">
            <thead class="tab-content" id="v-pills-tabContent">
              <tr>
                <th scope="col" class="table-h1">
                  Borough Name
                </th>
                <th scope="col" class="table-h2">
                  Native
                </th>
                <th scope="col" class="table-h2">
                  Foreign born
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Manhattan</td>
                <td class="tbl"><%= @pums.mn.native.count %></td>
                <td class="tbl"><%= @pums.mn.foreign.count %></td>
              </tr>
              <tr>
                <td>Bronx</td>
                <td class="tbl"><%= @pums.bx.native.count %></td>
                <td class="tbl"><%= @pums.bx.foreign.count %></td>            
              </tr>
              <tr>
                <td>Brooklyn</td>
                <td class="tbl"><%= @pums.bk.native.count %></td>
                <td class="tbl"><%= @pums.bk.foreign.count %></td>            
              </tr>
              <tr>
                <td>Queens</td>
                <td class="tbl"><%= @pums.qn.native.count %></td>
                <td class="tbl"><%= @pums.qn.foreign.count %></td>              
              </tr>
              <tr>
                <td>Staten Island</td>
                <td class="tbl"><%= @pums.si.native.count %></td>
                <td class="tbl"><%= @pums.si.foreign.count %></td>     
              </tr>
              <tr>
                <td>Total: <%= @pums.count(:nativity) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>