

    <nav id="sidebar">
      <div class="sidebar-header">
          <h3></h3>
      </div>

      <ul class="list-unstyled components container">
        <h4>Choose Category</h4>
        <li class="active nav-bar">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Borough Data</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a><%= link_to "Age Groups", boros_path, :class => 'text-white' %></a>
              </li>
              <li>
                <a><%= link_to "Nativity", boros_nativity_path, :class => 'text-white' %></a>
              </li>
              <li>
                <a><%= link_to "Age 65", boros_age65_path, :class => 'text-white' %></a>
              </li>
                <li>
                <a><%= link_to "Race", boros_mutu_path, :class => 'text-white' %></a>
              </li>
          </ul>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Comm Districts</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a><%= link_to "Age Groups", dcp_pumas_path, :class => 'text-white' %></a>
              </li>
              <li>
                  <a><%= link_to "Nativity", dcp_pumas_nativity_path, :class => 'text-white' %></a>
              </li>
              <li>
                  <a><%= link_to "Age 65", dcp_pumas_age65_path, :class => 'text-white' %></a>
              </li>
                <li>
                  <a><%= link_to "Race", dcp_pumas_mutu_path, :class => 'text-white' %></a>
              </li>
          </ul>
        </li>
      </ul>
    </nav>
   