<p id="notice"><%= notice %></p>

<p>
  <strong>State PUMAs:</strong>
  <%= @pum.state_puma %>
</p>

<p>
  <strong>Borough:</strong>
  <%= @pum.borough %>
</p>

<p>
  <strong>Age groups detailed:</strong>
  <%= @pum.agegroupsd %>
</p>

<p>
  <strong>Age groups:</strong>
  <%= @pum.agegroups %>
</p>

<p>
  <strong>Age 65:</strong>
  <%= @pum.age65plus %>
</p>

<p>
  <strong>Age 18:</strong>
  <%= @pum.age18 %>
</p>

<p>
  <strong>Mutu:</strong>
  <%= @pum.mutu %>
</p>

<p>
  <strong>Mutu detailed:</strong>
  <%= @pum.mutud %>
</p>

<p>
  <strong>Education recode:</strong>
  <%= @pum.educd_recode %>
</p>

<p>
  <strong>Education college:</strong>
  <%= @pum.educd_college %>
</p>

<p>
  <strong>English ability:</strong>
  <%= @pum.engability %>
</p>

<p>
  <strong>Lanx:</strong>
  <%= @pum.lanx %>
</p>

<p>
  <strong>Nativity:</strong>
  <%= @pum.nativity %>
</p>

<p>
  <strong>Poverty level:</strong>
  <%= @pum.povertylevel %>
</p>

<p>
  <strong>Disability age groups:</strong>
  <%= @pum.disabilityagegroups %>
</p>

<p>
  <strong>Classwkr dcp:</strong>
  <%= @pum.classwkr_dcp %>
</p>

<p>
  <strong>Id:</strong>
  <%= @pum.id %>
</p>

<%= link_to 'Edit', edit_pum_path(@pum) %> |
<%= link_to 'Back', pums_path %>
