<p id="notice"><%= notice %></p>

<p>
  <strong>State puma:</strong>
  <%= @pum.state_puma %>
</p>

<p>
  <strong>Borough:</strong>
  <%= @pum.borough %>
</p>

<p>
  <strong>Agegroupsd:</strong>
  <%= @pum.agegroupsd %>
</p>

<p>
  <strong>Agegroups:</strong>
  <%= @pum.agegroups %>
</p>

<p>
  <strong>Age65plus:</strong>
  <%= @pum.age65plus %>
</p>

<p>
  <strong>Age18:</strong>
  <%= @pum.age18 %>
</p>

<p>
  <strong>Mutu:</strong>
  <%= @pum.mutu %>
</p>

<p>
  <strong>Mutud:</strong>
  <%= @pum.mutud %>
</p>

<p>
  <strong>Educd recode:</strong>
  <%= @pum.educd_recode %>
</p>

<p>
  <strong>Educd college:</strong>
  <%= @pum.educd_college %>
</p>

<p>
  <strong>Engability:</strong>
  <%= @pum.engability %>
</p>

<p>
  <strong>Lanx:</strong>
  <%= @pum.lanx %>
</p>

<p>
  <strong>Nativity:</strong>
  <%= @pum.nativity %>
</p>

<p>
  <strong>Povertylevel:</strong>
  <%= @pum.povertylevel %>
</p>

<p>
  <strong>Disabilityagegroups:</strong>
  <%= @pum.disabilityagegroups %>
</p>

<p>
  <strong>Classwkr dcp:</strong>
  <%= @pum.classwkr_dcp %>
</p>

<p>
  <strong>Id:</strong>
  <%= @pum.id %>
</p>

<%= link_to 'Edit', edit_pum_path(@pum) %> |
<%= link_to 'Back', pums_path %>
