<h5>Community District Data</h5>

  <%= render 'shared/nav_boro' %>

  <div id="content">
    <nav class="navbar navbar-expand-lg toggle-div">
      <div class="container-fluid col-md-2 offset-md-3">
        <button type="button" id="sidebarCollapse" class="btn btn-info toggle">
          <i class="fas fa-align-left"></i>
          <span>Toggle Bar</span>
        </button>
      </div>
    </nav>
  </div>

  <div>
    <div class="col-12 offset-3">
      <div>
        <table class="table table-hover">
          <thead class="tab-content" id="v-pills-tabContent">
            <tr>
              <th scope="col" class="table-h1">
                Community Districts
              </th>
              <th scope="col" class="table-h2">
                Under 18yrs
              </th>
              <th scope="col" class="table-h2">
                18 to 24yrs
              </th>
              <th scope="col" class="table-h2">
                25 to 34yrs
              </th>
              <th scope="col" class="table-h2">
                35 to 44yrs
              </th>
              <th scope="col" class="table-h2">
                45 to 64yrs
              </th>
              <th scope="col" class="table-h2">
                Over 65yrs
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
            
              <% @pumas.each do |puma| %>

              <td> <%= puma.name %> </td>
              <td class="tbl">
              <%= puma.pums.where(agegroups: '1').length
              %></td>
              <td class="tbl">
              <%= puma.pums.where(agegroups: '2').length
              %></td>
              <td class="tbl">
              <%= puma.pums.where(agegroups: '3').length
              %></td>
              <td class="tbl">
              <%= puma.pums.where(agegroups: '4').length
              %></td>
              <td class="tbl">
              <%= puma.pums.where(agegroups: '5').length
              %></td>
              <td class="tbl">
              <%= puma.pums.where(agegroups: '6').length
              %></td>
            </tr>
            <tr>
              <td>Total: <%= puma.pums.count(:agegroups)%></td> 
            </tr>
              <% end %>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
  