<h5>Borough Data</h5>

  <%= render 'shared/nav' %>
  <div>
    <div class="col-9 table media">
      <div class="media-body">
        <table class="table table-hover">
          <thead class="tab-content thead-dark" id="v-pills-tabContent">
            <tr>
              <th scope="col" class="thead-dark">
                Borough Name
              </th>
              <th scope="col" class="thead-dark">
                Under 18yrs
              </th>
              <th scope="col" class="thead-dark">
                18 to 24yrs
              </th>
              <th scope="col" class="thead-dark">
                25 to 34yrs
              </th>
              <th scope="col" class="thead-dark">
                35 to 44yrs
              </th>
              <th scope="col" class="thead-dark">
                45 to 64yrs
              </th>
              <th scope="col" class="thead-dark">
                Over 65yrs
              </th>
            </tr>
          </thead>
        <thead>
        </div>
        <tbody>
          <tr>
          
            <% @pumas.each do |puma| %>

            <td> <%= puma.name %> </td>
            <td>
            <%= puma.pums.where(agegroups: '1').length
            %></td>
             <td>
            <%= puma.pums.where(agegroups: '2').length
            %></td>
             <td>
            <%= puma.pums.where(agegroups: '3').length
            %></td>
             <td>
            <%= puma.pums.where(agegroups: '4').length
            %></td>
             <td>
            <%= puma.pums.where(agegroups: '5').length
            %></td>
             <td>
            <%= puma.pums.where(agegroups: '6').length
            %></td>
            <%# <td><%= @pums.code.count %></td> %>
            <%# <td><%= @pums.code.yr18_24.count %></td> %>
            <%# <td><%= @pums.code.yr25_34.count %></td> %>
            <%# <td><%= @pums.code.yr35_44.count %></td> %>
            <%# <td><%= @pums.code.yr45_64.count %></td> %>
            <%# <td><%= @pums.code.over_65.count</td> %> %>
          </tr>
            <% end %>
            <%# <td><%= @pums.group(:borough).count %></td> %>
         
          
            <%# <td><%= @pums.order(borough: :asc, agegroups: :asc).group(:borough, :agegroups).count %>
        </tbody>
       
      </div>
    </div>

  